
netflowExtractedFiles/nfcapd.201801100000cswitch1.txt
netflowExtractedFiles/nfcapd.201801100000cswitch2.txt
netflowExtractedFiles/nfcapd.201801100000dcdist.txt
netflowExtractedFiles/nfcapd.201801100000cswitch3.txt
netflowExtractedFiles/nfcapd.201801100000igate.txt
formatted_nfcapd.txt
netflowFinalised/cswitch1.201801100000.txt
netflowFinalised/cswitch2.201801100000.txt
netflowFinalised/cswitch3.201801100000.txt
netflowFinalised/dcdist.201801100000.txt
netflowFinalised/igate.201801100000.txt
.Rhistory
formatted.csv
R/R.txt
*.txt
*.csv
*.txt
*.txt
.idea/vcs.xml
.idea/modules.xml
.idea/Netflow-Graph.iml
.idea/misc.xml
.idea/libraries/R_User_Library.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/workspace.xml
netflowExtractedFiles/testFile.txt
*.txt
netflowFinalised/testFile.txt
