
netflowExtractedFiles/nfcapd.201801100000cswitch1.txt
netflowExtractedFiles/nfcapd.201801100000cswitch2.txt
netflowExtractedFiles/nfcapd.201801100000dcdist.txt
netflowExtractedFiles/nfcapd.201801100000cswitch3.txt
netflowExtractedFiles/nfcapd.201801100000igate.txt
